body, html {
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-auto-flow: row;
}

.main-container {
    padding: 16px 8px;
    height: calc(100% - 50px);
    margin: 0 auto;
    width: 85%;
}

.title {
    text-align: center;
    margin: 0 0 16px 0;
}

.title h1 {
    margin: 0;
}

.social-icons-container {
    display: grid;
    grid-gap: 8px;
    grid-auto-flow: row;
    justify-content: center;
}

.social-icon {
    height: 100px;
}

footer {
    padding: 8px;
    height: 50px;
    align-self: end;
}

@media screen and (min-width: 768px) {
    .social-icons-container {
        grid-auto-flow: column;
    }

    .social-icon {
        height: 50px;
    }
}